{% extends 'rango/base.html' %}

{% load staticfiles %}
{% block title_block %} Search {% endblock %}

{% block body_block %}
<div>
    <br />
    <h2>Search news, blogs & discussions with Rango</h2>
    <br/>
    <form class="form-inline"  role='form' id="search_form" 
	method="post" action="{% url 'rango:search' %}">
        {% csrf_token %}
        {% for field in form %}
	    <div>
		{{ field }}{{ field.errors }}
		{% if field.help_text %}
		    {{ field.help_text }}
		{% endif %}
	    </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit" name="submit"
                value="Search">Search Web</button>
    </form>

    <div>
        {% if search_list %}
        <h3>Results</h3>
        <!--Display search results in an ordered list -->
        <div class="list-group">
        {% for search_result in search_list %}
            <div class="list-group-item">
                <h4 class="list-group-item-heading">
                    <a href="{{ search_result.link }}" target="_blank">{{ search_result.title }}</a>
                    <h4>
                    <p class="list-group-item-text">{{ search_result.summary }}...</p>
            </div>
        {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock%}
